.header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #403D3E;
    padding: 25px 0 0 0;
}

.header__desc {
    padding: 5px 10px 30px 10px;
    font-size: 22px;
    color: #CCC2C5;
    text-align: center;
    letter-spacing: 3px;
}

@media (max-width: 768px) {
    .header__desc {
        font-size: 14px;
    }
}