.preview {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 0 0 0;
    background-color: #403D3E;
}

.preview__body {
    position: relative;
    max-width: 900px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.preview__img {
    width: 100%;
    object-fit: cover;
    height: auto;
}

.preview__img_btn,
.preview__title {
    position: absolute;
}

.preview__img_btn {
    top: 20%;
    left: 50%;
    width: 40%;
    transform: translate(-50%, -50%);
}

.preview__title {
    top: 23%;
    left: 50%;
    max-width: 100px;
    color: #855324;
    text-shadow: -2px -2px 2px rgba(255, 255, 255, 0.6);
}

.preview__link {
    position: absolute;
    top: 70%;
    left: 50%;
    font-size: 22px;
    transform: translate(-50%, -50%);
}

.preview__link:active {
    transform: translate(-50%, -50%) translateY(10px);
}

.information {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #000;
    padding: 40px 0 0 0;
}

.information__top {
    padding: 10px;
    text-align: center;
}

.information__bottom {
    padding: 10px;
    text-align: center;
}

.information__title {
    padding: 15px;
    font-size: 42px;
    color: #CCC2C5;
    letter-spacing: 1px;
}

.information__text {
    display: inline-block;
    max-width: 680px;
    padding: 15px;
    font-size: 22px;
    color: #CCC2C5;
    letter-spacing: 1px;
}

.information__link {
    display: inline-block;
    margin: 15px;
    font-size: 22px;
}

.information__link:active {
    transform: translateY(10px);
}

@media (max-width: 768px) {
    .preview__title {
        display: none;
    }

    .preview__link {
        font-size: 16px;
    }

    .information__title {
        font-size: 26px;
    }

    .information__text {
        font-size: 16px;
    }

    .information__link {
        width: 100%;
        margin: 15px auto;
    }
}
